<div id="header">
  <h1>Tags</h1>
</div>

<div id="content">
  <ul class="list">
    <% @tags.each do |tag| %>
      <li><%= link_to h(tag.name + " (" + pluralize(tag.nbr_photos, "photo") + ")"), tag_path(tag) %></li>
    <% end %>
  </ul>
  <ul class="list">
    <li><%= link_to h('Up'), years_path %></li>
  </ul>
</div>
